<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_4dotsFreePDFCompress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_4dotsFreePDFCompress.Properties.Settings>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LanguagesDownloaded" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder1" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder2" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder3" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder4" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder5" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolderIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeepBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageQuality" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="AddFolderRecent" serializeAs="String">
                <value />
            </setting>
            <setting name="AddFilesRecent" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportListRecent" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCheckVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepFolderStructure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvertImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertImages2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Grayscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackAndWhite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotAskForPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckWeek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepCreationDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepLastModificatonDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMessageOnSucess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowResultWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExploreOutputFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPromotion" serializeAs="String">
                <value>True</value>
            </setting>
        </_4dotsFreePDFCompress.Properties.Settings>
    </userSettings>
</configuration>